{{ define "family_resting_slot" }}
    <family-resting-slot
            class="w-[7rem] h-[12.5rem] rounded border-[2px] border-amber-600 bg-red-950"
            data-family="{{ .Family }}"
            data-derection="{{ .Direction }}"
            data-attachable="{{ .Attachable }}"
    ></family-resting-slot>
{{ end }}
