<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/public/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/dist/application.css">

        <title>ROM-Stack</title>
    </head>
    <body class="m-0 p-0 flex flex-col justify-center items-center h-[100vh] bg-neutral-200 dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100">
        <game-board class="block m-0 p-0 relative w-full h-full">
            <game-slots class="flex m-0 p-0 w-full h-full justify-around">
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600">
                    <game-card
                            class="grid grid-cols-1 grid-rows-card absolute top-0 left-0 w-[8rem] h-[13rem] mb-2 p-2 bg-amber-200 rounded cursor-move"
                            number="5"
                            family="swords"
                    >
                        <div class="flex justify-start items-center">
                            <span>5</span>
                            <span>swords</span>
                        </div>
                        <span class="w-full h-full"></span>
                    </game-card>
                </game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
                <game-slot class="w-[8rem] h-[13rem] rounded border-[0.25rem] border-amber-600"></game-slot>
            </game-slots>
        </game-board>
        <script type="module" src="/dist/application.js"></script>
    </body>
</html>
