<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/public/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/dist/application.css">

        <title>ROM-Stack</title>
    </head>
    <body class="m-0 flex flex-col justify-center items-center min-h-[100vh] bg-neutral-200 dark:bg-stone-800 text-neutral-900 dark:text-neutral-100">
        <div id="app" class="m-0"></div>
        <script type="module" src="/dist/application.js"></script>
    </body>
</html>
