{{ define "resting_slot" }}
    <game-resting-slot
            class="relative w-[8vw] after:block after:w-[8vw] after:h-[14vw] after:rounded after:border-[2px] after:border-amber-600 after:bg-red-950"
            data-family="{{ .Family }}"
            data-direction="{{ .Direction }}"
            data-attachable="{{ .Attachable }}"
    ></game-resting-slot>
{{ end }}
