{{ define "resting_slot" }}
    <game-resting-slot
            class="w-[7rem] h-[12.5rem] rounded border-[2px] border-amber-600 bg-red-950"
            data-family="{{ .Family }}"
            data-derection="{{ .Direction }}"
            data-attachable="{{ .Attachable }}"
    ></game-resting-slot>
{{ end }}
