{{ define "slot" }}
    <game-slot
            class="relative w-[7rem] after:block after:w-[7rem] after:h-[12.5rem] after:rounded after:border-[2px] after:border-amber-600"
            data-number="{{ .Number }}"
    ></game-slot>
{{ end }}
