{{ define "slot" }}
    <game-slot
            class="relative w-[8vw] after:block after:w-[8vw] after:h-[14vw] after:rounded after:border-[2px] after:border-amber-600"
            data-number="{{ .Number }}"
    ></game-slot>
{{ end }}
